<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>

    <div>
        <strong>Email:</strong> <span id="email"></span><br>
        <strong>First Name:</strong> <span id="firstName"></span><br>
        <strong>Last Name:</strong> <span id="lastName"></span><br>
        <strong>Phone:</strong> <span id="phone"></span><br>
        <strong>Registration Type:</strong> <span id="registrationType"></span><br>
    </div>

    <button onclick="editProfile()">Edit Profile</button>
    <button onclick="logout()">Logout</button>

    <script>
        window.addEventListener('pageshow', function(event) {
            document.getElementById("email").value = "";
            document.getElementById("firstName").value = "";
            document.getElementById("lastName").value = "";
            document.getElementById("phone").value = "";
             document.getElementById("registrationType").value = "";
            // Check if the event's persisted property is true (page is loaded from cache)
            var email = localStorage.getItem('email')
            var token = localStorage.getItem('token')

            if (!email || email === "" || !token && token === "") {
                window.location.href = '/signup';
            }

            var session = localStorage.getItem('sessionId');
            if (!session || session === "") {
                window.location.href = '/signup';
            }
        });
        document.addEventListener("DOMContentLoaded", async function () {
            // Read query parameters
            const urlParams = new URLSearchParams(window.location.search);
            const tokenFromQueryParam = urlParams.get("token");
            const emailFromQueryParam = urlParams.get("email");
            const registrationTypeFromQueryParam = urlParams.get("registrationType");

            if (tokenFromQueryParam) {
                localStorage.setItem('token', tokenFromQueryParam);
            }
            if (emailFromQueryParam) {
                localStorage.setItem('email', emailFromQueryParam);
            }

            if (registrationTypeFromQueryParam) {
                localStorage.setItem('registrationType', 2);
            }


            const emailSpan = document.getElementById("email");
            const firstNameSpan = document.getElementById("firstName");
            const lastNameSpan = document.getElementById("lastName");
            const phoneSpan = document.getElementById("phone");
            const registrationTypeSpan = document.getElementById("registrationType");

            const tokenFromStorage = localStorage.getItem("token");
            const emailFromStorage = localStorage.getItem("email");


            // Create Basic Authentication header
            const basicAuth = btoa(`${emailFromStorage}:${tokenFromStorage}`);
            const getUserData = {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": `Basic ${basicAuth}`,
                        "ssoSession": localStorage.getItem("sessionId")
                    },
                };
            const response = await fetch("/api/getUser", getUserData);
            const data = await response.json();

            
            if (data.code === 1014) {
                emailSpan.textContent = data.data.email;
                firstNameSpan.textContent = data.data.firstName;
                lastNameSpan.textContent = data.data.lastName;
                phoneSpan.textContent = data.data.phone;
                registrationTypeSpan.textContent = data.data.registrationType === 1 ? "System" : "Google";
                }
            

        });

        function editProfile() {
            window.location.href = "/updateprofile";
        }

        async function logout() {
            const tokenFromStorage = localStorage.getItem("token");
            const emailFromStorage = localStorage.getItem("email");
            // Create Basic Authentication header
            const basicAuth = btoa(`${emailFromStorage}:${tokenFromStorage}`);

           

            // Call /api/logout API
            const response = await fetch("/api/logout", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": `Basic ${basicAuth}`,
                    "ssoSession": localStorage.getItem("sessionId")
                }
            });
            const data = await response.json();

            console.log(data)

            if (data.code === 1021) {
                 // Clear local storage
                localStorage.setItem("sessionId", "");
                localStorage.setItem("email", "");
                localStorage.setItem("password", "");
                window.location.href = "/signup";
            } else {
                alert("Logout failed");
            }
        }
    </script>
</body>
</html>